
/* Background image styling */
.backgroundImage {
    flex: 1;
    resizeMode: 'cover';
    justifyContent: 'center';
  }
  
  /* Container styling */
  .container {
    flex: 1;
    justifyContent: 'center';
    alignItems: 'center';
  }
  
  /* Logo styling */
  .logo {
    width: 150px;
    height: 150px;
    marginBottom: 20px;
  }
  
  /* App name styling */
  .appName {
    font-size: 24px;
    font-weight: bold;
    marginBottom: 20px;
    color: white;
  }
  
  /* Button styling */
  .button {
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    marginBottom: 10px;
    border-radius: 5px;
  }
  
  /* Button text styling */
  .buttonText {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  